<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->

<div class="col" id="position-{{position.id}}">
    <div class="card border-secondary h-100"> 
        <h4 class="card-header border-secondary" style="text-align: center;">{{position.title}}</h4>
            <div class="card-body" style="max-height: 7rem; overflow: auto; overflow-wrap: break-word; background-color: #dbe3ec;">
                {{position.description}}
            </div>
        <div class="card-footer border-secondary" style="text-align: center;">
            <a class="btn btn-primary" href=#>See Applicants</a>
        </div>
    </div>
</div>
