<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->
<table id="post-{{post.id}}" class = "posttable" style = "width:100%" valign="top">
        <tr> 
            <td colspan="3"><div class="posttitle"> {{post.title}} </div>
            </td>
        </tr>
        <tr>
            <td width="10%" >
                
            </td>
            <td width="80%" >
                Posted at: {{ post.timestamp }} 
            </td> 
            <td width = "5%">
                <div>
                    <div>  </div>       
                    <br>
                    <div>  </div>
                </div> <br> 
            </td>
        </tr>
        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
            </td>
        </tr>
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
            </td>
        </tr>
    </table>

{% block script %}
<script>

</script>    
{% endblock %}