{% extends "base.html" %}

{% block content %}
    <h1>Display Faculty Profile</h1>
    <h2> Faculty Username: {{faculty.get_username()}}</h2>
    <p> <b>Name:</b> {% if faculty.get_firstname() %} {{faculty.get_firstname()}} {% endif %}
                     {% if faculty.get_lastname() %}{{faculty.get_lastname()}} {% endif %}</p>
    <p> <b>Username:</b> {{faculty.get_username()}} </p>
    <p> <b>Email:</b> {% if faculty.get_email() %}{{faculty.get_email()}} {% endif %}</p>
    <hr><br>
    <h2>Recommendations</h2>
{% endblock %}