{% extends "student_base.html" %}

{% block content %}

    <h1>Hello Student. Welcome to the WPI Research Application Portal!</h1>


    <form method="POST" id="toggleForm">
        {{ form.hidden_tag() }} 
        <div class="form-check form-switch">
            {{ form.recommended(class_="form-check-input", id="flexSwitchCheckDefault", onchange="this.form.submit()") }}
            <label class="form-check-label" for="flexSwitchCheckDefault">View Recommended Positions</label>
        </div>
    </form>


     <!-- <form action="" method="post">
            {{ form.hidden_tag()  }}

            {{form.recommended.label(class="form-check-label", style="font-size: 1.2rem;") }} 
            {{ form.recommended(class="form-check-input large" ) }}
            {{ form.submit(class="btn btn-primary") }}

        </form> -->

    <!-- TODO: (milestone1) Display smile count.   -->
    <h3>Number of positions:  </h3><br>

    <!-- TODO: (milestone 2) Add the template to render an instance of a `sortForm`. The form should display the sort attribute select box and the "Refresh" submit button.
            Style the `sortorder` form element using the `formselect` CSS element we defined in milestone1 -->

    <!-- TODO: (milestone1) Format posts -->
    <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-bottom: 15px;">
    {% for position in positions %}
       {% include '_post.html' %} 
    {% endfor %}
    </div>
{% endblock %}