<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->

<div class="col" id="position-{{position.id}}">
    <div class="card border-secondary"> 
        <h4 class="card-header border-secondary" style="text-align: center;">{{position.title}}</h4>
            <div class="card-body" style="max-height: 7rem; overflow: auto; overflow-wrap: break-word; background-color: #dbe3ec;">
                {{position.description}}
            </div>
    <div class="card-footer border-secondary" style="text-align: center;">
        <h6>Posted by: {{position.faculty.get_firstname()}} {{position.faculty.get_lastname()}}</h6>
    </div>
    </div>
</div>

<!-- <table id="position-{{position.id}}" class = "posttable" style = "width:100%" valign="top">
        <tr> 
            <td colspan="3"><div class="posttitle"> {{position.title}} </div>
            </td>
        </tr>
        <tr>
            <td width="100%" > 
                <div class="postbody"> {{position.description}} </div> <br> 
                
            </td> 
        </tr>
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                    <div class="useritem"> </div>
            </td>
        </tr>
    </table> -->

<!-- (milestone3)  TODO: refactor the "like" use case. Add the JavaScript code below. -->
{% block script %}
<script>

</script>    
{% endblock %}