<!-- We add an id for the table to update the HTML content of the table through JavaScript.  -->
<table id="position-{{position.id}}" class = "posttable" style = "width:100%" valign="top">
        <tr> 
            <td colspan="3"><div class="posttitle"> {{position.title}} </div>
            </td>
        </tr>
        <tr>
            <td width="100%" >
                <!--  TODO: include post body in the following div element and style it. -->    
                <div class="postbody"> {{position.description}} </div> <br> 
                <!-- (milestone3) TODO: format the timestamp; display as local date/time-->
                
            </td> 
        </tr>
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                    <!-- get faculty who posted position -->
                    <div class="useritem"> {{position.faculty.get_firstname()}} {{position.faculty.get_lastname()}}</div>
            </td>
        </tr>
    </table>

<!-- (milestone3)  TODO: refactor the "like" use case. Add the JavaScript code below. -->
{% block script %}
<script>

</script>    
{% endblock %}